main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    max-width: 800px;
    height: 500px;
    background-color: silver;
    padding: 5px 5px;
    border-radius: 2%;
    box-shadow: 2px 2px;
    border: 2px solid grey;
    overflow: hidden;
}


.botoes{
    padding: 6% 6%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    height: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.marca{
    padding: 1% 5%;
    align-self: flex-end;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline 1px solid;
}